[2018-06-21 11:12] obreitwi opened #4 "Prevent autolinks in code-sections"
As the title says, when enabling `mattermost-plugin-autolink`, the autolinks are also replaced in `code`-sections.

So, for example,
<pre>
[code]
</pre>
is expanded to
<pre>
[code]
</pre>
which breaks copy-pasting code snippets whenever they contain a matching regular expression.

Backtick-escaped inline code ~~seems to be unaffected~~ is affected when surrounded by spaces.

[2018-06-22 18:08] coreyhulen commented on #4
0.2.0 should address this issue.

[2018-06-22 18:08] #4 closed

[2018-06-25 09:27] ThiefMaster commented on #4
Assuming this is already running on pre-release.mattermost.com, the 4-space-indent code block syntax is not covered:

[code]

was converted to

[code]

[2018-06-25 13:31] obreitwi commented on #4
Thank you, the issue is fixed for us!

[2018-06-26 08:31] ThiefMaster opened #6 "Release package contains OSX metadata files"
[code]

`._plugin.json` contains some OSX metadata which is harmless, but doesn't really belong in a release archive.

[2018-06-26 10:30] ThiefMaster opened #7 "Code blocks still broken in some cases"
In this case, *test* is not converted, since the plugin thinks it's inside a fenced codeblock - but it's not, since the fences are in separate code blocks started by the four-space indentation:

[code]

test

[code]

---

Another case of thinking *test* is inside a fenced code block even though it isn't:

[code]

---

In this case, *test* is converted even though it is inside a code block (created

[2018-06-26 14:02] jasonblais opened #8 "Text containing multiple links doesn't always render correctly"
Repro:
1) Post the following text to a channel on pre-release.mattermost.com

``
Do we need to merge the translations PRs (https://github.com/mattermost/mattermost-server/pull/8998 and https://github.com/mattermost/mattermost-webapp/pull/1378) before your localization changes in https://github.com/mattermost/mattermost-server/pull/8987.
``

Observed:

![image](https://user-images.githubusercontent

[2018-06-26 15:55] coreyhulen commented on #7
I agree, I would love to switch over to https://github.com/mattermost/mattermost-server/tree/master/utils/markdown but it isn't fully featured yet.

[2018-06-26 15:57] ThiefMaster commented on #7
Yeah, looks like it would be pretty easy to use if `Text` objects exposed a `Range` (then the same logic currently used for image proxy link conversion could be used)

[2018-06-26 16:08] coreyhulen commented on #8
Yeah the ones in () probably shouldn't autolink since it thinks it might be part of something else.  It needs to start with whitespace or somethings similar.  Fixing issue #7 (switching to an AST) should improve this.

Not autolinking the last one looks like a bug.

[2018-06-26 16:17] ThiefMaster commented on #8
Whethe text inside `(...)` should be skipped or not should probably be configurable.

When replacing e.g. bugtracker ticket numbers having them replaced inside `()` seems very much wanted.

IMO that should be linkified.

[2018-06-27 14:30] ThiefMaster commented on #7
I played around a bit with the markdown parser and this seems to work, at least for the test cases I added: https://gist.github.com/ThiefMaster/ad150a9d461c1cb3d12e708618ab83ba

[2018-06-27 14:54] ThiefMaster opened #10 "Team/channel-scoped rules"
Especially when autolinking JIRA tickets (`FOO-\d+`) or GitHub issues (`#\d+`), chances are good that they only matter in certain channels/teams. and make no sense somewhere else (or should link to a different target),

Currently the only option is to add only rules that are useful instance-wide and not do any autolinking for anything that's less global. It would be nice if rules could be defined

[2018-06-28 08:25] ThiefMaster opened #11 "Double-linking may happen"
With this rule:

    Pattern:  "(Mattermost)",
    Template: "[Mattermost](https://mattermost.com)",

this text:

    [  Mattermost  ](https://mattermost.com)

is converted to

    [  [Mattermost](https://mattermost.com)  ](https://mattermost.com)

---

This would also be solved by using the markdown parser (https://github.com/mattermost/mattermost-plugin-autolink/issues/7#issuecomment-400693623),

[2018-07-02 14:30] coreyhulen commented on #7
@ThiefMaster this is awesome.  Do you mind submitting a PR?

[2018-07-02 14:33] ThiefMaster commented on #7
Sure, I can do that.  Just wanted to get an opinion on it first.

Is there any decent way to use a local clone of mattermost instead of the vendorized version? Editing stuff inside the vendor folder was fine to test this out, but I guess the PR for the markdown parser should be against the main mattermost repo - and copying that whole folder into the plugin's vendor dir to run e.g. the plugin's te

[2018-07-02 15:03] coreyhulen commented on #7
I think you can point it at your fork in go dep using one of their overrides like we do for gorp.  It might be easier to just submit the mattermost-server PR first, get that merged then I can update the vendor dir and you can submit your PR here after that.

[2018-07-02 15:04] ThiefMaster commented on #7
Sure, this was more about having a less messy way to test things locally

[2018-07-02 15:06] coreyhulen commented on #7
ahh...then I think you can do something like https://github.com/mattermost/mattermost-server/blob/master/Gopkg.toml#L44 and point it to your fork?

[2018-07-02 15:06] coreyhulen commented on #7
or https://github.com/mattermost/mattermost-server/blob/master/Gopkg.toml#L50 (sorry it's been awhile since I've don this)

[2018-07-02 15:07] ThiefMaster commented on #7
still requires commit+push, but i'll see if i can maybe just use a good old symlink there that points to my local source...

[2018-07-07 15:50] ThiefMaster commented on #7
@coreyhulen just opened a PR for this: mattermost/mattermost-server#9067

[2018-07-08 14:32] coreyhulen commented on #7
Awesome...thanks!

[2018-07-16 16:17] #7 closed

[2018-07-16 16:17] #11 closed

[2018-07-27 09:08] ohze opened #16 "Can I use this plugin to create mention groups?"
Can I use this plugin to [Add custom user groups for mentions](https://mattermost.uservoice.com/forums/306457-general/suggestions/13792272-add-custom-user-groups-for-mentions)?
Ex, if the Pattern is "`@developers`", Template is "`@user1, @user2, @user3`"
then will those users receive notification when I post "`@developers hello!`"?

[2018-07-31 04:10] derschatta commented on #16
I just tried, it works
`{
    "Pattern": "(\\@group)",
    "Template": "@user1 @user2"
 }`

[2018-07-31 04:14] derschatta opened #17 "Problem with following punctuation marks"
I just tried one of the example:
`{
    "Pattern": "(EXA)(-)(?P<jira_id>\\d+)",
    "Template": "[EXA-${jira_id}](https://tracker.example.com/browse/EXA-${jira_id})"
}`

If I type `Check this EXA-12456 it's great` it correctly replaces it. But if I type `Check this EXA-12345, it's great` it doesn't. I don't see anything wrong with the pattern.

Is there a way to make this work or is it a bug which

[2018-07-31 04:17] derschatta opened #18 "Version 0.2.0 shows up as 0.1.0 in the interface"
I just installed version 0.2.0 on Mattermost 5.1. In the interface it shows up like this.

![auto-link-0 2 0](https://user-images.githubusercontent.com/6513855/43437440-2e907bf0-94dd-11e8-94cd-9afcf09ea6a6.png)

[2018-08-01 20:58] amyblais commented on #17
Hi @derschatta - thanks for reporting this! This was just discussed by the team and it's a bug that we'll need to fix.

[2018-08-01 21:41] amyblais commented on #18
@coreyhulen ^ or let me know if I can help ask someone to test it out.

[2018-08-01 22:46] jasonblais commented on #18
Confirmed on pre-release this is fixed on v0.3:

![image](https://user-images.githubusercontent.com/13119842/43553016-150bd70e-95bb-11e8-98e6-ab4a6f0740e1.png)

Okay to close the issue @derschatta?

[2018-08-01 22:46] jasonblais commented on #17
@derschatta would you be interested helping with a fix for it?

[2018-08-02 16:13] hmhealey opened #19 "Plugin mangles post with multiple GitHub PR links in it"
Using the config that's on pre-release.mattermost.com, posting multiple links to GitHub PRs in a single paragraph causes the post to become mangled. For example,
[code]
becomes
[code]

[2018-08-02 21:44] derschatta commented on #17
@jasonblais Thanks for asking, but unfortunately I won't find the time, sorry.

[2018-08-07 13:24] akhmerov opened #20 "Hashtags inserted by autolink do not work"
I wanted to use autolink to also tag the links by doing something like `[src](url "#tag")`, which is then picked up by the tag search.

Unfortunately autolink plugin v0.2 does not work correctly with hashtags.

To reproduce use the following substitution:
[code]
Then search for `#bar` and verify that the search does not find any results.

Editing the message after the substitution has occurred doe

[2018-08-14 03:15] derschatta commented on #18
yes, thanks @jasonblais

[2018-08-26 15:06] matclab opened #21 "Plugin disappear on mattermost 5.2 restart"
The plugin works well, but it disappear upon mattermost 5.2 restart.

I don't know  how to investigate and  if the problem is on the plugin side or on mattermost side (zoom plugin stay installed).

[2018-08-29 16:12] amyblais commented on #21
Hi @matclab!

Do you mean it disappears after each time you restart the server? Do you see any errors in Logs or the Console?

[2018-08-30 07:06] matclab commented on #21
No errors on the server apart:
[code]
I have to understand where the plugins are installed in mattermost v5.2. As I run it from a docker container, it is possible it is installed outside of the volumes defined in the docker-compose.yml file and as such not saved across docker container restart.

I think we can close this ticket as it probably comes from mattermost itself or from the way it is conf

[2018-08-30 07:06] #21 closed

[2018-09-06 12:03] lumbric commented on #17
AFAICS the plugin matches only complete words by default, see [here](https://github.com/mattermost/mattermost-plugin-autolink/blob/master/server/autolinker.go#L21) and [here](https://github.com/mattermost/mattermost-plugin-autolink/blob/master/server/autolinker.go#L26). This is achieved by an explicit list of allowed characters: \s (whitespace) . ! ?
The comma seems to be missing in this list. Als

[2018-09-06 12:08] jasonblais commented on #17
Thanks @lumbric! Appreciate testing out the plugin.

@coreyhulen wondering if you have thoughts on the above note or on https://github.com/mattermost/mattermost-plugin-autolink/pull/23?

/cc @hmhealey

[2018-09-07 02:10] derschatta commented on #17
Thanks for fixing the comma issue. We've come across the issue with brackets as well as @lumbric mentioned. It would be great if something like `there is a bug (see EXA-1234)` would work too. At the moment the links in these won't be replaced.

[2018-09-07 02:14] derschatta opened #24 "Problem with opening and closing brackets"
This is related to #17 which fixes a bug where text was not autolinked if there was a following punctuation mark.

The same bug occurs if brackets are used. Like in `there is a bug (see EXA-1234)`.

[2018-09-07 21:19] lumbric commented on #24
Hmm the case `there are bugs (EXA-1234) and more things` is a bit more diifficult to be fixed. Simply adding the `(` to the regex breaks the tests.

[2018-09-10 09:04] lumbric commented on #24
Hm I should have added the brackets in the first version of the pull request in #23, sorry...   It's still not perfect, but I think #25 is another improvement. @coreyhulen, could you have another quick look at #25?

[2018-09-10 14:09] #24 closed

[2018-09-10 14:09] coreyhulen commented on #24
Looks good.

[2018-09-10 14:10] #18 closed

[2018-09-10 14:10] #16 closed

[2018-09-10 14:12] coreyhulen commented on #8
I think this is fixed with https://github.com/mattermost/mattermost-plugin-autolink/pull/25

[2018-09-10 14:12] #8 closed

[2018-09-20 03:24] shawn111 opened #26 "Patterns with hyperlink can't be autolink"
Hi,

I like this plugin, and just found this issue.

In the test cases and examples, we have below patterns.
[code]
It can pass the unittest.

However, it isn't working in the real services.
I guess the hyperlink is already be modified that cause the pattern not work.

[2018-10-07 21:40] akhmerov commented on #20
Update: also confirmed this is still present in v0.3.

[2018-10-08 14:32] matclab commented on #21
Just for reference, I launch mattermost via docker compose, and `/mattermost/plugins` was not mounted to a persistent volume, thus installed volume disappeared when restarting the docker services.
Adding a line `/srv/docker/mattermost/app/mattermost/plugins:/mattermost/plugins:rw` to the docker `volumes` solves the problem.

[2018-10-23 16:24] #6 closed

[2018-10-25 16:13] outofcontrol commented on #10
This is highly desired in our Gitlab install also, where we have many groups with many repositories in each.

[2018-11-19 10:54] matclab commented on #17
Thanks for the fix.
Do you think you will be able to publish a release soon ?

[2018-11-26 14:37] binarious opened #31 "Allow configuration changes via the System Console"
The System Console states the following at the moment:

It would be easier to configure this plugin directly in the System Console. Especially if one's using gitlab-omnibus.

[2018-11-26 15:06] hanzei commented on #31
Changes to the Mattermost Server have to be made to allow this. There is a help-wanted ticket https://github.com/mattermost/mattermost-server/issues/9483 for this.

[2018-11-27 19:51] AndreasSchaek opened #32 "Plugin installation doesnt work - Maybe missing documentation?"
Greetings everyone.
I'm very new to Mattermost, plugins and go language.
I installed mattermost on a debian server and its working very smooth and wanted to use this plugin for some internal links,
But I cant get it working.
No matter if I upload the plugin or I place it manually in the plugins folder.

The logs give this error
[code]
Obviously the directory and everything inside is missing.
I cre

[2018-11-27 20:20] hanzei commented on #32
Can you please run `./plugins/mattermost-plugin-autolink/server/dist/plugin-linux-amd64` from the Mattermost directory?

[2018-11-27 20:55] AndreasSchaek commented on #32
Well its a directory, cant execute that.
When I remove the directory I get the first message again: no such file or directory

[2018-11-27 20:57] hanzei commented on #32
`./plugins/mattermost-plugin-autolink/server/dist/plugin-linux-amd64` should be a executable file, not a directory. Can you please check again

[2018-11-27 21:03] AndreasSchaek commented on #32
Where should that come from? I dont have a dist directory when I clone the repo?

[2018-11-27 21:04] AndreasSchaek commented on #32
oh my didnt read carefully enough.

[2018-11-27 21:06] AndreasSchaek commented on #32
dump that

[2018-11-27 21:06] #32 closed

[2018-11-27 21:14] hanzei commented on #32
Glad to help :wink:

[2018-11-27 21:14] AndreasSchaek commented on #32
already works after getting the right stuff :)

[2018-11-30 16:47] bbodenmiller opened #34 "Update links during rendering rather than before save to database"
As mentioned at https://mattermost.uservoice.com/forums/306457-general/suggestions/13380846-add-auto-link-functionality-e-g-to-create-links links may change over time

[2018-12-13 13:46] CrowdfoxMKL commented on #26
I have to second this - I tried the samples from the README, but to no avail. I even tested this further and found out, as soon as the pattern is to be compared to a actual link in Mattermost, it doesn't get modified.
As a sample try these to pattern/template combos:
[code]
As you will see, the first pattern matches if you type the pattern im Mattermost, the second pattern does not match.

I'd rea

[2019-01-15 22:05] grubbins commented on #26
I also encountered this problem. It will affect anything that gets replaced with an `AutoLink` during markdown processing, which currently applies to the following URL schemes:
[code]

The content of these is skipped by the plugin because it is no longer raw text. I believe I have a fix (PR on the way).

[2019-01-15 22:08] grubbins opened #36 "Updated posts are not processed"
If a post is edited to fix a typo, replacements are not applied. The plugin should handle the `MessageWillBeUpdated` hook too.

[2019-01-15 22:16] grubbins commented on #26
The issue can also be demonstrated by adding suitable cases to `plugin_test.go` which applies the markdown parser (unlike `autolinker_test.go`).

[2019-01-15 23:30] grubbins commented on #36
I tried to fix this by adding that hook, but it is still not working :/
Not sure what the problem is at the moment.

[2019-01-16 10:36] hanzei commented on #36
Thanks for the report @grubbins.

I'm not sure that this is something we really want. The main problem is that users have no possibility to fix posts that where wrongly edited by the plugin.

[2019-01-16 10:45] grubbins commented on #36
Actually I think there are ways to fix posts. For example, if my text is replaced with an unwanted link, I can modify the text so that it does not match any more, or put it in a code block, or similar.

Conversely, consider using this plugin for replacing Jira ticket numbers with links (as I have set up). It is very confusing and irritating to users that this works on first posting, but does not w

[2019-01-16 10:51] hanzei commented on #36
But how does a user know, what the pattern is? The normal users doesn't even know this plugins exists and might not even not what a plugin is. The changes to a post happen "magically" and users don't know why. Adding a config option doesn't fix this problem.

@coreyhulen What do you think?

[2019-01-29 14:50] ThiefMaster opened #40 "Unify handling of opening and closing parentheses"
#24 added support so a message like `(see GH-1234)` can have `GH-1234` autolinked, but the other way round doesn't work, so `(GH-1234 might solve your bug)` won't be autolinked.

This can already be worked around by enabling DisableNonWordPrefix and then using a custom regex to specify the boundary, but I think more consistent default logic makes more sense.

[2019-01-31 09:32] jespino commented on #40
Yes, that would be great, I have to think about it, maybe we can have another flag to allow that or a special field to specified a list of valid extra prefixes, like `(`, `{`, `,` or whatever.

[2019-01-31 09:34] jespino commented on #36
Maybe we can add a "pattern" flag to allow to work on updates. Normally a lot of patterns are idempotent, so is not a big deal, but for that cases where you are not able to handle properly editions, you can disable it per-pattern (or maybe enable it if we set it as false by default).

[2019-01-31 09:43] jespino commented on #26
Fixed in the PR #38

[2019-01-31 09:43] #26 closed

[2019-01-31 10:08] jespino commented on #19
This is probably fixed in some intermediate release, I would expect to the next release (I'll create it soon), and deploy the last version in to pre-release.

[2019-01-31 11:06] hanzei commented on #36
I would rather add a undo function. User should have the control over there own posts.

My fear is that posts get mangled and a user doesn't know how to fix this, like in #19.

[2019-02-06 13:18] hanzei commented on #36
I see that an undo function is out of scope.

But flagging pattern can still result in the problem I described above. Are the other solutions you can think of? I'm running out of ideas.

[2019-02-07 14:03] jespino commented on #36
I'll go for the flagging pattern approach for now, which will allow our uses to enable it for editions under his own responsability. Is better than nothing, and probably we can add another strategy later.

[2019-02-27 19:24] scottleedavis commented on #10
Hello @hanzei  I would like to contribute this.  My company uses this, and it would be helpful for us to only allow certain autolinks in certain channels.

[2019-02-28 09:35] hanzei commented on #10
Thanks @scottleedavis for working on this!

[2019-03-02 08:52] scottleedavis commented on #10
@ThiefMaster @outofcontrol Do either of you have any use cases for a channel scope, across teams?

https://github.com/mattermost/mattermost-plugin-autolink/pull/43#issuecomment-468860186

[2019-03-02 08:54] ThiefMaster commented on #10
Channel scope without mentioning a team: no, seems somewhat useless, unless someone wants e.g. off-topic to have the same rules in all teams. seems not very useful though.

`teamname/channelname` is very useful though, e.g. for a development team that wants to autolink `#123` or `project#123` to their github issue tracker without affecting all other channels. I would very much use that one!

[2019-03-02 09:54] scottleedavis commented on #10
Fantastic feedback, thank you @ThiefMaster

[2019-03-02 14:57] outofcontrol commented on #10
@scottleedavis Across teams no. Within teams how @ThiefMaster describes it, would be quite nice to have.

[2019-03-02 18:27] scottleedavis commented on #10
alright, majority wins.  :)

[2019-03-04 22:27] Tragen opened #44 "Collon not working in pattern"
I used the same samples like you did in your documentation but it doesn't work.
I broke it down to this

This is easy and works
`
                    {
                        "Pattern": "otrsxyz",
                        "Template": "works"
                    }
`

This is easy and works
`
                    {
                        "Pattern": "https//otrsxyz",
                        "Template

[2019-03-05 07:22] hanzei commented on #44
I think you must escape the `.`. Could you please try ` { "Pattern": "https\\.//otrsxyz", "Template": "works" }`

[2019-03-05 09:30] Tragen commented on #44
I've tried that. It doesn't work.
It doesn't work when I post something with a :
Then the autolink doesn't recognize it even if the filter is correct.

[2019-03-11 22:01] jasonblais commented on #10
@scottleedavis Does your PR (#43) cover this open issue?

[2019-03-12 17:33] scottleedavis commented on #10
yes @jasonblais

[2019-03-12 18:43] #10 closed

[2019-03-14 13:07] swood opened #46 "Plugin doesn't work"
Hi. I wrote config below:
{ "Pattern": "(\\@group)", "Template": "@user1 @user2" }

and after reloaded config from disk, try to use this mention and nothing happened.
Why? I did not see any messages in log of mattermost on error level.
Only messages below:

Mattermost version is 5.8.0.
Plugin version is 0.4.0.

[2019-03-14 17:50] jespino commented on #46
Can you check in your admin interface if the plugin is properly enabled and running?

[2019-03-14 21:01] swood commented on #46
Hi, @jespino. It is precisely enabled and running. I have checked a process and it was in a container.

[2019-03-14 21:08] swood commented on #46
I have restarted server and after I received messages below:

{"level":"error","ts":1552597496.8059683,"caller":"plugin/client_rpc.go:469","msg":"RPC call MessageWillBePosted to plugin failed.","plugin_id":"mattermost-autolink","error":"connection is shut down"}
{"level":"error","ts":1552597497.7012339,"caller":"plugin/client_rpc.go:469","msg":"RPC call MessageWillBePosted to plugin failed.","plug

[2019-03-15 08:21] hanzei commented on #46
Hey @swood,

Would you be open to providing more of your log file?

What setup are you using? Docker, stand alone, nginx? What Mattermost server version are you running?

[2019-03-15 13:38] swood commented on #46
Hey, @hanzei.
Unfortunately, there is not some other log. My instance runs in Docker and it is my image with standard binary. As I mentioned, Mattermost version is 5.8.0.

[2019-03-18 06:15] hanzei commented on #46
If you turn debug logging on, do you see more related log messages?

[2019-03-18 09:57] swood commented on #46
Hi, @hanzei.
Unfortunately, no. All relevant messages below:

{"level":"debug","ts":1552902767.3935654,"caller":"app/notification_push.go:210","msg":"Clearing push notification to  with channel_id xps3nthh8fg59knm6i8x1mn1nh"}

But it the same that I sent before. Do you have installation of this plugin and server with version 5.8.0? Maybe RPC-protocol has been changed between versions of server?

[2019-03-18 09:59] hanzei commented on #46
Yes. This plugin is running on the Mattermost Community server.

I doubt this.

@crspeller Could you please take a look at this issue, as you worked on a similar one before?

[2019-03-21 11:01] asiniy opened #47 "Run plugin on ARM"
How could I build & run this plugin on ARMv7? I can't get it, since `plugin.json` has no `plugin-linux-arm` entry?

[2019-03-21 11:05] hanzei commented on #47
Did you tried running the latest release of this plugin on your system? If it fails, what is the error message in the logs?

[2019-03-25 13:17] ohporter commented on #44
I can also confirm that **:** is an issue in patterns. With the latest plugin release, the supplied Jira examples in the README do not work.

This example does not match on https://mattermost.atlassian.net/browse/MM-1275
[code]

Removing the colon does match on *https//mattermost.atlassian.net/browse/MM-1275*:
[code]

Also, matching any character with a *.* replacing the *:* does not address the i

[2019-03-26 17:39] asiniy commented on #47
Hey @hanzei this is log. I just uploaded `0.4.0` version to my mattermost-server docker app image

[code]

[2019-03-26 17:55] asiniy commented on #47
Mattermost version is 5.9.0

[2019-03-27 15:04] swood commented on #46
Hey, @hanzei and @crspeller. Do you have any updates with my issue?

[2019-03-27 19:08] crspeller commented on #46
@swood Looks like the plugin is crashing. Possibly because of a config error. Can you post your full plugin config? I may give us a clue as to what is happening.

[2019-04-02 20:30] hanzei commented on #47
Would you mind testing a different plugin e.g. [Matterpoll](https://github.com/matterpoll/matterpoll)? This _might_ be a general issue with plugins.

[2019-04-09 11:39] mkraft commented on #19
I am still happening with v0.3.0. Example: https://community-daily.mattermost.com/private-core/pl/iwjgf3p1u7f73kqncoq6ps3iuh

<img width="1166" alt="Screen Shot 2019-04-09 at 7 37 32 AM" src="https://user-images.githubusercontent.com/1149597/55797483-956e2d80-5a9a-11e9-94d8-ef8f6dcc7c9c.png">

[2019-04-09 11:58] ohporter commented on #44
Following up to myself (as often happens), this seems to be fixed on master. I was running 0.4.0 and recently updated our server to a build of master to gain Scope support. I noticed that this example works as written now. Most likely this issue can be closed if all of the original author's issues are fixed as well.

[2019-04-09 13:06] hanzei commented on #19
@jespino Should this be fixed with `v0.4.0` or with the next release?

[2019-04-09 13:06] #44 closed

[2019-04-09 14:17] Tragen commented on #44
How can I update to master build?
Are there nightly builds somewhere?

[2019-04-09 16:31] hanzei commented on #44
There are not nightly builds. But there will be a new version soon.

You can just build the plugin from source, if you have go installed.

[2019-04-12 09:46] pjenicot commented on #46
@swood I had the same problem when I overwritten the existing plugin "mattermost-autolink" (v.0.4.0).

[code]

[2019-04-12 12:22] hanzei commented on #46
@pjenicot How you need to uninstall the old version of the plugin first.

[2019-04-17 22:41] Tragen commented on #46
I have the same problem. Plugin was working and I only changed the Patterns. Now I get the also "connection is shut down"

[2019-04-17 22:58] Tragen commented on #46
I found my error. It was an error in the config file above the plugin section.

[2019-04-18 07:08] scottleedavis opened #49 "0.5.0 Plugin crashes on firs usage"
After trying to update the plugin on a 5.10 server it crashes on first time it tries to autolink.

[2019-04-18 09:56] ThiefMaster commented on #49
Happens for me as well, except that it works fine localyl and on my staging server but in production is also dies quickly:
[code]

[2019-04-18 10:11] ThiefMaster commented on #49
Debug log:

[code]

[2019-04-18 10:49] ThiefMaster commented on #46
@Tragen, could you share what kind of error it was? The plugin (0.5.0) is crashing for me as well (segfault as seen in the debug log), and my config is perfectly valid and works on another system...

[2019-04-18 11:07] ThiefMaster commented on #49
OK, any DM crashes the plugin, probably doing stuff with a nil team somewhere..

[2019-04-18 11:09] Tragen commented on #46
For me it was that I entered some characters accidentally.
Instead of
`        "Parameter": true`
I had something like
`ssss        "Parameter": true`

[2019-04-18 11:09] ThiefMaster commented on #46
OK, so it was just a syntax error :)

[2019-04-18 11:12] Tragen commented on #46
I had this syntax error shortly above the plugins configuration, so the rest was working.
In my opinion, MM shouldn't start at all with errors in the config.

[2019-04-18 11:19] Tragen commented on #46
The error `connection is shut down` happened again without any other erros.
I restarted MM and it's working again.

`{"level":"error","ts":1555586147.6802464,"caller":"mlog/log.go:172","msg":"RPC call MessageWillBePosted to plugin failed.","plugin_id":"mattermost-autolink","error":"connection is shut down"}
{"level":"info","ts":1555586155.4858947,"caller":"scheduler/worker.go:78","msg":"Worker: Jo

[2019-04-18 11:19] Tragen commented on #46
I'm using MM 5.10.0 with Plugin 0.5.0

[2019-04-18 11:26] ThiefMaster commented on #46
0.5.0 is completely broken atm - ANY direct message crashes the plugin. downgrade to 0.4 or if you trust me enough you can use the version i built that contains the fix from my PR: https://github.com/ThiefMaster/mattermost-plugin-autolink/releases/tag/v0.5.0-20190418

[2019-04-18 11:30] Tragen commented on #46
I don't know you but the code changes were small and look good. ;)
Thank you very much. I will try it now.

[2019-04-18 11:54] #49 closed

[2019-04-18 20:17] jespino commented on #46
@Tragen please, try with the new published 0.5.1 version.

[2019-05-03 01:28] John-Appleseed commented on #47
Matterpoll produces the same error

[code]

The plugin config is missing an arm executable path
[code]

Had to modify matterpoll Makefile to build for arm 7

[code]

The error logs are unclear what mattermost is trying to execute.
Renaming plugin-linux-arm to plugin-linux-amd64 has no effect.

[2019-05-03 06:16] hanzei commented on #47
Thank you very much for the update @John-Appleseed! Could you please check that the user that's running Mattermost has access to `plugins/com.github.matterpoll.matterpoll`?

[2019-05-04 08:47] John-Appleseed commented on #47
Ownership and rwx are set to the same user of the Mattermost server
`~/mm/plugins/com.github.matterpoll.matterpoll`
`~/mm/client/plugins/com.github.matterpoll.matterpoll` -- This folder might be unnecessary

[2019-05-04 13:18] hanzei commented on #46
@Tragen Did you try with the latest version of this plugin?

[2019-05-04 21:19] Tragen commented on #46
Latest version is working fine for me. Thanks.

[2019-05-05 06:02] hanzei commented on #46
Thanks for the update @Tragen. Closing this one for now. Feel free to reopen if the issue comes up again.

[2019-05-05 06:02] #46 closed

[2019-05-31 01:31] jasonblais commented on #40
FYI @levb @jfrerich This is one bug which would get noticed and reported as an issue in a GA release

[2019-05-31 01:33] jasonblais commented on #19
FYI @levb @jfrerich This is another bug which would get noticed and reported as an issue in a GA release. However, looks like @jespino may already have a fix for this

[2019-06-02 12:40] levb commented on #40
I'd appear that post 1.0 we probably want to change the semantics as:
[x] only match entire words
    word start separators:
        [x] white space
        [x] other:  <  ([{  >
    word start separators:
        [x] white space
        [x] other:  <  ([{  >

For 1.0 I'll see if I can quickly add the `(` to the prefix list to address this specific issue.

[2019-06-02 13:15] levb commented on #19
https://mattermost.atlassian.net/browse/MM-15967 @jespino I see it still happening on community, and this is not specific to the regexp for github.

[2019-06-02 21:47] jasonblais opened #57 "Update README for #43, #71"
In first paragraph of Usage section, clarify that autolinks having three parts - pattern, template and scope.

https://github.com/mattermost/mattermost-plugin-autolink/pull/43 added an optional scope parameter to define which team/channel the defined autolink applies to.

https://github.com/mattermost/mattermost-plugin-autolink/pull/71 added the /autolink command, and the `WordBoundary`, `Disabled

[2019-06-06 11:08] felibb commented on #31
@hanzei where would I put the request to let channel admins create custom groups? E.g. using `@customgroup*` pattern. As of right now only the admin with server console access can define a new group, but with 80+ users it doesn't scale at all.

[2019-06-06 11:23] hanzei commented on #31
@felibb Would you please open a new issue for this?

[2019-06-06 12:19] felibb opened #58 "Allow channel admins create custom groups"
We have a case for the plugin where channel admins would like to create custom group mentions ad-hoc (`@customgroup*`). Currently this requires console access to the server, and is neither feasible nor scalable. Example: HipChat used to have an [Alias](https://marketplace.atlassian.com/apps/1211973/alias?hosting=server&tab=overview) plugin to accomplish this. I wonder if Autolink can have similar

[2019-06-07 05:18] lkraav opened #59 "v1.0.0 plugin bundle missing?"
Is there supposed to be a download link at https://github.com/mattermost/mattermost-plugin-autolink/releases/tag/v1.0.0 not sure?

[2019-06-07 21:56] uhlhosting commented on #59
I get a Encountered an error when extracting the plugin. Review your plugin file content and try again. When upgrading.

[2019-06-07 21:57] crspeller commented on #59
Yes. There was supposed to be. The automation wasn't setup for this repository. PR here: https://github.com/mattermost/mattermost-plugin-autolink/pull/60

I made a release manually with the appropriate binary!

[2019-06-07 21:57] #59 closed

[2019-06-21 11:48] hanzei commented on #19
It seams like `v1.0.0` has fixed this problem. Feel free to reopen if this is still an issue.

[2019-06-21 11:48] #19 closed

[2019-06-21 12:01] jasonblais commented on #19
@levb Do we know what suddenly fixed this? I don't see anything in the commits that would have fixed this.

Maybe something on the Mattermost platform itself?

[2019-06-21 12:24] hanzei commented on #19
I suppose it was fixed with https://github.com/mattermost/mattermost-plugin-autolink/pull/38

[2019-06-21 12:29] jasonblais commented on #19
I see. Maybe we had an old version deployed on community.mattermost.com until v1.0.0 was deployed

[2019-06-24 20:19] LocalHeroPro opened #61 "Update README.md file with link to online regex tester"
Update README.md file with proper with that plugin regex tester for Golang.
For example:

1. https://regex-golang.appspot.com/assets/html/index.html
2. https://regex101.com/
3. another one.

[2019-06-24 20:28] hanzei commented on #61
Hey @LocalHeroPro,

Great idea! Would you be open on submitting a PR for this?

[2019-06-27 22:11] LocalHeroPro commented on #61
Created #62

[2019-06-28 00:08] LocalHeroPro opened #63 "Escaping non special chars in the Pattern"
If I wan't to use for example that link:
[code]
I have to write that working pattern:
[code]
So I have to double escape `=`, `.`, `d+`, instead single escape or even non escape (for `=`).
If I check regex in the online checker, that behavior fail, but in MM config works.
I have to mention: pattern and template are changed after MM is restarted (for example from `<` to `\u003e`), can we prevent fro

[2019-06-28 22:28] #61 closed

[2019-07-03 00:07] MarkMaldaba opened #65 "Show autolink configuration on plugin page"
Currently, all configuration of the mattermost-autolink plugin must be done directly in config.json. In the long term, this should take place in the interface, but as an interim measure it would be really useful if the plugin page in the system console displayed the current configuration.

This is particularly helpful as a way of cross-checking whether your changes to config.json have taken effect

[2019-07-03 00:11] MarkMaldaba opened #66 "Apply transformations on render, not on save"
There are real issues with this happening before being saved, rather than happening before rendering, as it means it is a lossy conversion that cannot be updated to fix e.g. bad configuration or URL changes.

It also means that anyone editing a post will not see what they typed, but some modified version, breaking the principal of least surprise and potentially causing confusion and errors.

The p

[2019-07-03 04:51] hanzei commented on #65
Thanks for the report @MarkMaldaba. Closing as this is a duplicate of  #31

[2019-07-03 04:51] #65 closed

[2019-07-03 04:54] hanzei commented on #66
Duplicate of https://github.com/mattermost/mattermost-plugin-autolink/issues/34

[2019-07-03 04:54] #66 closed

[2019-07-03 04:54] hanzei commented on #34
From #66:

[2019-07-03 21:45] MarkMaldaba commented on #65
Hi there,

This is not a duplicate of #31.  That ticket is to make the plugin configurable via the interface, which would be brilliant.   However, this ticket is to implement an interim measure, to display the current configuration from config.json in a read-only form, until such a time as #31 is implemented.

This ticket becomes invalid once #31 is fixed, but that's not the same thing as saying i

[2019-07-03 21:46] MarkMaldaba commented on #66
Apologies for the duplicate - I even searched before posting, but must have used different terms as it wasn't found.

[2019-07-06 21:15] hanzei commented on #31
From #65

[2019-07-06 21:19] hanzei commented on #65
Hey @MarkMaldaba,

You are correct. The two issues aren't the same. But both require similar changes to the Mattermost Plugin system. Hence I suppose that #31 will be implemented first.

I've added your request to #31, so it can be considered as an alternative.

[2019-07-07 17:41] MarkMaldaba commented on #65
@hanzei - Thanks for the update.  I didn't realise they were both dependent on core changes.

In that context, I'm happy with the way you have resolved this ticket.

[2019-07-10 14:26] rezeptpflichtig opened #68 "Converting links to images to inline display"
I’d like to convert links posted to images/gifs automatically to display inline.
I tried to accomplish this with:
[code]

but it does not work… Did I miss something?

[2019-07-10 15:23] rezeptpflichtig commented on #68
okay.. I have to edit the config.json on the server! I thought this was a client side setting.

[2019-07-10 15:23] #68 closed

[2019-08-19 10:47] andrey-yantsen commented on #40
Wasn't it fixed after #67 and release of v1.1.0?

[2019-08-19 11:50] jasonblais commented on #40
cc @levb on above note from Andrey

[2019-08-21 14:24] levb commented on #20
This appears to work with 1.1

![image](https://user-images.githubusercontent.com/1187448/63440301-71c1d900-c3e4-11e9-85ee-d00b63c57e15.png)

[2019-08-21 14:41] levb commented on #31
https://github.com/mattermost/mattermost-plugin-autolink/pull/71 added the capability to edit the configuration with a `/autolink` command. It still requires sysadmin privileges since autolink can affect the performance of the entire server.

Having channel-specific plugin instances/configurations should be a roadmap-level feature for mattermost-server.

[2019-08-21 14:52] akhmerov commented on #20
I have verified that the problem persists with 1.1 on mattermost 5.12.4.

Note that the issue is not with *rendering* of the replaced text, but whether it shows up when searching for the hashtag.

To reproduce:

![image](https://user-images.githubusercontent.com/2069677/63442766-f38d2300-c433-11e9-8a3b-351ac80d08fb.png)

![image](https://user-images.githubusercontent.com/2069677/63442810-043d9900-

[2019-08-21 15:27] levb commented on #20
@akhmerov @aaronrothschild https://community.mattermost.com/core/pl/kjqkepha3irppxmbbtmnc17ruy - I don't think it's a plugin issue per se. Let's see what comes out of the conversation there, maybe a new ticket for the toolkit.

[2019-08-21 15:54] levb commented on #20
As per https://community.mattermost.com/core/pl/kjqkepha3irppxmbbtmnc17ruy we need to add
`post.Hashtags, _ = model.ParseHashtags(post.Message)` to `MessageWillBePosted` in order for the hashtags to work. I am going to mark this as a `Help Wanted` ticket now, @akhmerov interested in contributing the fix?

[2019-08-21 15:58] levb commented on #40
@andrey-yantsen #67 failed to be backwards compatible, but #71 introduced the `WordBoundary[=true]` link property to use the more standard `\b` word boundaries. If you turn it on, it should solve the `(` issue.

[2019-08-21 15:58] #40 closed

[2019-08-21 16:03] levb commented on #58
#71 adds the ability to edit the configuration with a `/autolink set` command. Will it solve the issue, @felibb?

[2019-08-21 16:07] levb commented on #63
@LocalHeroPro #71 added the ability to view and edit the autolink config with the `/autolink` command. The command displays and accepts raw text for Pattern/Template, so should clarify somewhat. 2/5  properly escaping regexp in JSON is painful, the less we expose the users to the encoded text, the better.

[2019-08-21 16:07] #63 closed

[2019-08-21 16:24] felibb commented on #58
@levb I can say only after we test it, but looks promising.

Will it have an ability to include @-usernames to the link? Sorry, a bit unclear.

[2019-08-21 16:27] levb commented on #58
You can do something like `/autolink set Template @user1 @user2 ...`. I understand that this is a rather small improvement, far from offering a UI picker and other advanced features, but it should help somewhat.

[2019-08-21 16:38] felibb commented on #58
Right, I understand. FWIW I think it can be created backwards, i.e. type out all the names with the help of the standard picker, then prepend the command and flags.

Would you recommend waiting for the plugin to be included in the server installer, or manual installation? If former, any idea on the ETA?

[2019-08-21 17:23] levb commented on #36
To be clear on the proposed course of action:
1. Add a `EnableOnUpdate` default `false` to Link config properties.
2. Implement a `MessageWillBeUpdated` hook that will only apply the links with `EnableOnUpdate` set.
@hanzei @jespino please confirm.

[2019-08-21 17:52] akhmerov commented on #20
Sorry, I've no familiarity with the codebase, language. Given some time I would be able to hack something together, but I also don't have time :(

[2019-08-21 18:22] jespino commented on #36
@levb Yes, I think so

[2019-08-21 19:37] levb opened #73 "Add `/autolink import/export` capability"
Some ideas for how it can be implemented:
- a browser popup/window that implements upload/download.
- export can create an uploaded file in Mattermost, import can read from a previously uploaded Mattermost file.

See #71 that introduced the config read/write capability.

[2019-08-29 23:24] adarj commented on #73
Hello, I'm interested in contributing this feature. Just to confirm, the import and export commands should allow the user to upload/download config files from their local machine, correct?

[2019-08-30 03:42] levb commented on #73
@adarj Welcome and thank you for taking this on!

RE: "allow the user to upload/download ... from local machine" - correct, but if that proves to be difficult to do directly, 0/5 an acceptable first implementation would be to export/import to _mattermost_ files (uploaded as attachments for import, and for export, posted as a new message, with an attachment)

Also would be cool to have a "merge" ca

[2019-09-01 06:44] rohanjulka19 commented on #57
Opened a PR for this issue . #72

[2019-09-01 17:35] jasonblais commented on #57
Thank you @rohanjulka19! Really appreciated 👍

[2019-09-06 18:48] #57 closed

[2019-09-18 20:03] #20 closed

[2019-10-28 20:39] levb commented on #73
@adarj I am going to label this as a "Help Wanted" to have someone else add the requested "File Import/Export" UI feature. It seems like an essential addition we should have before merging the existing PR. They can be implemented with client-side /commands.

[2020-01-07 06:08] joewaitye opened #82 "Pattern is cosmetically changed when multiple pipes are involved"
When putting in a Pattern that involves multiple pipes, the Pattern ends up looking changed, but still functions fine.

For example, if I input the following regex : `(?i)(?P<jira_project>(SO|NET|HR))-(?P<jira_id>\d+)`

It will be changed by the plugin into : `(?i)(?P[NET|HR))-(?P<jira_id](jira_project>(SO)\d+)`

The regex still works fine, but it can be misleading for users who might be under the

[2020-01-14 16:34] jfrerich commented on #58
Hi @felibb!

It has been a while since you have been updated with latest autolink plugin progress.  I'd like to inform you of some of the updates.  The PR referenced in this issue has been released.  You can get the update via server upgrade, manual installation, or most recently the Plugin Marketplace.  You can find the Plugin Marketplace in the hamburger menu above the channel listings.  This wi

[2020-01-14 16:48] levb commented on #82
@joewaitye can you please provide the steps to follow?

[2020-01-20 16:28] levb commented on #34
There is also a possibility of implementing client-side hooks and substitutions that should be researched.

[2020-01-20 18:55] felibb commented on #58
Hi @jfrerich,

Creating a custom mention works for us, thanks. It even shows a user picker when I start typing @-mention to populate a group.

In my mind restricting the create/edit autolink permissions to a smaller group of channel admins would allow us to keep the amount of autolinks in check, and avoid polluting the global config. Alternatively the plugin config could be moved out to a separate

[2020-01-20 19:04] jfrerich commented on #58
@felibb, thanks for checking back and with the feedback you provided. Regarding the channel level permissions, I will discuss with my team and get you a response!

[2020-01-21 00:18] levb commented on #58
What we can add easily as a configurable list of "plugin admins" who would be allowed to run the /autolink command. Will that work for you, @felibb ?

[2020-01-21 06:04] felibb commented on #58
Yes, plugin admin group would work. Probably even more restrictive than channel admins.

BTW is the relevant permission "Manage Slash Commands"? It is enabled for system and team admins right now, but not for All Members, and we tested yesterday with a regular user, with the following result:

![Image Pasted at 2020-1-20 21-46](https://user-images.githubusercontent.com/4253456/72779377-705f3b80-3c

[2020-01-21 13:48] levb commented on #58
They have to be a "proper" full sysadmin,
![image](https://user-images.githubusercontent.com/1187448/72809985-99c29c00-3c11-11ea-8307-8b25488fd2d4.png)

[2020-01-21 13:55] levb opened #84 "Add the concept of plugin admin users"
Add a (visible, editable in admin console) section to autolink config to define the list of plugin administrators. It should take a list of @usernames, ideally with autocomplete.

These users should then be allowed to execute the `/autolink` command.

An rough prototype can be found in
- https://github.com/mattermost/mattermost-plugin-solar-lottery/blob/e41d9d22ad8f4ebd5164631b99441ad3548ea4ab/plu

[2020-01-21 14:08] levb commented on #58
Filed https://github.com/mattermost/mattermost-plugin-autolink/issues/84 to add plugin admins

[2020-01-21 14:08] #58 closed

[2020-01-23 20:25] jasonblais commented on #36
@levb @grubbins is this one resolved with #79?

[2020-01-23 20:39] #36 closed

[2020-01-23 20:40] grubbins commented on #36
Yes :)

[2020-01-23 21:18] jasonblais commented on #36
Great! Thanks so much @grubbins :D

[2020-01-24 12:24] lieut-data opened #94 "Autolink should ignore bot posts. (was: Commit notifications trigger unexpected link preview)"
To avoid clashes with bot-formatted links, Autolink should (optionally?) ignore bot posts.

1/5 recommend adding an "Process posts from Bots", default `false` to the plugin config.

---
Original description:

I recently received a notification in the [message of a commit](https://github.com/mattermost/mattermost-sa-code/commit/528462af4dca50e41011fe1076c76edb00327b5b):

![image](https://user-image

[2020-01-31 13:03] levb opened #87 "Performance: do not fetch extra post data unless needed"
Presently, processing each post autolink goes back to the server to get the Channel and Team names for it, to match the scope. https://github.com/mattermost/mattermost-plugin-autolink/blob/0c286d8baa27c03834c2240c0e20fd518b4ec83d/server/autolinkplugin/plugin.go#L104-L117

1. These should be requested lazily so if no links have `Scope` defined, there's no perf impact.
2. Long term we should conside

[2020-01-31 13:15] lieut-data commented on #87
@ali-farooq0, this will be an interesting case to think through with respect to autolink performance efforts. Knowing the RPC overhead, in particular, will influence where in the pipeline we should optimize.

[2020-02-06 20:33] jfrerich opened #89 "Move autolink to use a store backed by PluginAPI rather than the config"
#### Summary
Currently, the autolink configuration is stored in `config.json`.  This request is to migrate the configuration into the store.

#### Ticket Link
https://mattermost.atlassian.net/browse/MM-22001

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you

[2020-02-09 13:18] vespian commented on #84
@levb Basing on [1], by default there is a `username` type of the field with autocompletion, but it is meant to choose one user, not a list. If one wants to have multi-user support, a custom field needs to be created, but this requires some extra web code, just like in e.g. [2]. Right?

[1] https://developers.mattermost.com/extend/plugins/manifest-reference/#settings_schema.settings.type
[2] https

[2020-02-12 00:02] levb commented on #84
@vespian You're right, we do not have the appropriate input type. I do not believe that investing in custom UI work is worth it in this case. How about we allow a ` `- or `,`-separated list of strings, where each one can be a mattermost user ID, or a `[@]username`?

[2020-02-12 06:06] vespian commented on #84
+1

[2020-02-12 06:07] vespian commented on #84
I would like to give it a try.

[2020-02-12 18:44] aaronrothschild opened #90 "When editing a Post, display the "pre-autolink'd" version of the message, then re-run the rules"
Issue: When editing a post that has been modified by autolink, the user may need to do additional work to fix an error because of the modifications.

Request: A customer has requested the ability to see the "original unmodified" message before autolink touched it.  Then when the edits are made, the autolink rules are re-applied on save.

From Customer:

[2020-02-13 15:14] DHaussermann opened #91 "Add a description to Autolink that will show in the slash command auto-complete"
Autolink does not have a description showing unlike the other slash commands.

![Autolink](https://user-images.githubusercontent.com/35588783/74448219-973a1780-4e48-11ea-8a43-f5eab602910c.PNG)

We should add a description here.

[2020-02-16 16:35] vespian commented on #84
@levb Please have a look at https://github.com/mattermost/mattermost-plugin-autolink/pull/93

[2020-02-17 22:39] levb commented on #94
I think the issue should stay here, and be repurposed if the history is important. Autolink will already expose the link config APIs in the next release, no special work needed there AFAIU. We just need to add the code on the GiitHub side to manage the links, and probably a config/feature flag to use this new capability instead of the current in-plugin substitution. cc @jfrerich

[2020-02-17 22:41] levb commented on #94
(closed by mistake, reopened)

[2020-02-17 22:44] lieut-data commented on #94
I think there's two separate issues here:
* autolink shouldn't process messages by bots (open for discussion), which I think is the meat of this issue
* GitHub should rely on autolink for link substituion (not as clear to me, and also open for discussion)

One reason to keep this in the GitHub plugin is to solve the second issue, which I guess also solves the first issue? One concern is that this

[2020-02-18 12:13] levb commented on #94
@lieut-data I'd argue against this complexity. Autolink should already ignore substituting _links_ in markdown; Bots should be aware of the markdown nature of the contents and properly encode links in the message bodies if they come from external systems as raw text or other formats. Ditto for the messages that the bots generate.

2 motives I can think of:
1. Performance - consolidating all substi

[2020-02-18 12:18] #91 closed

[2020-02-18 12:24] levb commented on #90
cc @grundleborg - I can't imagine that storing 2 versions of the Post (if modified by the plugins from the original) is acceptable overhead, but I may be wrong if all we need is the text.

Something else to consider, probably even less imaginable in our current architecture would be a `PostWillBeServed` (`BeforeGetPost`?) hook, and then `GetPostUnprocessed` for editing the original contents.

[2020-02-18 14:18] lieut-data commented on #90
I can sort of see an argument to treat the `MessageWillBePosted` as an edit event, not unlike if the user had edited their own post. This would store the "original message" in a referenced, deleted post, and make it accessible with somewhat minimal overhead. It's not quite the right paradigm, of course, but in terms of overhead, it's at least a familiar model.

I can also see the flip side, though

[2020-02-18 14:23] lieut-data commented on #94
I think this adds more complexity since it requires bots/plugins to artificially encode their payload to avoid some other event they might not have been able to predict. Maybe I want a /real/ link without such a preview, because I'm doing something else, but along comes autolink and decides better for me.

In fact, the simplest model might be to disallow bot rewriting of other bot's posts at the s

[2020-02-18 14:25] lieut-data commented on #94
What happens when the rewrite requires metadata? I think all of these rewrites involve an API call out to GitHub to look up some useful data. I'm having a hard time seeing AutoLink as a general purpose platform to replace the existing `MessageWillBePosted` calls.

[2020-03-03 12:10] levb commented on #94
It is a 180 from how I was thinking of it, but I am fully persuaded that it is a simple and consistent policy.

[2020-03-03 12:14] levb commented on #94
@lieut-data hopefully we don't invoke GitHub APIs in MessageWillBePosted - that'd seem inefficient. And if the metadata is cached, I'd argue it should be submitted to Autolink APIs when it changes.

[2020-03-03 12:19] levb commented on #94
@vespian are you interested in finishing this?

[2020-03-03 13:01] vespian commented on #94
Yep.

[2020-03-05 17:43] sadohert opened #95 "`help` command output is not formatting correctly."
Testing with the latest release (v1.1.2).

Server:
Mattermost Version: 5.18.2
Database Schema Version: 5.18.0
Database: postgres

The output from running `/autolink help` appears below.  It looks like its meant to be a nicely formatted markdown message, but its all coming through raw for me which makes it difficult to parse the instructions on how to setup autolink relationships.

![image](https:/

[2020-03-06 05:09] DHaussermann opened #96 "Setting Scope is not mentioned in help text"
Using scope to refine when an autolink pattern is applied is functional and mentioned in the read-me but it is missing from help.

when using `/autolink help`  there should be a mention and example of `/autolink set scope`

[2020-03-06 09:06] hanzei commented on #95
I can't repo this problem with the latest MM `master`. Would you mind re testing it on 5.20?

[2020-03-07 03:19] dschaper opened #97 "Autolink list displays varying versions of patterns."
Autolink seems to be converting `<` and `>`s to unicode escape chars. This ends up causing the `/autolink list` to show erroneous information.

Autolink v1.1.2
Mattermost Version: 5.20.1
Database Schema Version: 5.20.0
Database: postgres

`autolink set CoreChannel Pattern (?i)(#)(?P<Gh_id>\d+)`

`/autolink list`:
![Screenshot_2020-03-06 (5) Dan Schaper - Pi-hole Pi-hole Team Mattermost](https://us

[2020-03-07 17:43] vespian commented on #94
Let me know if this is something we are after: https://github.com/mattermost/mattermost-plugin-autolink/pull/98/files

[2020-03-09 08:29] hanzei opened #99 "Migrate logging to use RPC Logging methods"
Instead of using `mlog` all log calls should use the RPC methods `LogX`, e.g. [`LogDebug`](https://developers.mattermost.com/extend/plugins/server/reference/#API.LogDebug). This allows the server to gradually select which log messages to show in the server logs.

[2020-03-09 16:28] lieut-data commented on #94
@levb, in the GitHub use case we're talking about, it exactly does require a GitHub API call on `MessageWasPosted` (agree that doing this on `MessageWillBePosted` is impractical). I don't think there's anyway we can pre-emptively cache the autolink plugin with knowledge of the contents of an arbitrary GitHub permalink, so this functionality will always live in the GitHub plugin.

[2020-03-11 08:46] hanzei commented on #47
`ARM` is currently not supported by the plugin framework and Mattermost. Would you please open a feature request on https://mattermost.uservoice.com/forums/306457-general?

[2020-03-11 08:46] #47 closed

[2020-03-21 09:34] Nopasaran13 commented on #47
Hi, i installed mattermost on debian butcher on a raspberrypi and have the same error when i try to use the matterpoll plugin. Mattermost plugin still does'nt work with arm? is there any fix for this? Thanks in advance

[2020-03-22 23:22] mo2menelzeiny commented on #99
@hanzei, I'm giving this a shot.
I don't know if this is the right place, but I'm having trouble with the testing.
Does any test cases cover the thrown errors? or do I have to manually test this?

My thoughts are for example
[code]
I'm going to replace it with
[code]
But how can I validate my change?

[2020-03-23 15:46] hanzei commented on #99
@mo2menelzeiny Please see my response in your PR: https://github.com/mattermost/mattermost-plugin-autolink/pull/102#issuecomment-602677926

[2020-03-23 17:20] #84 closed

[2020-03-27 08:26] #99 closed

[2020-03-31 09:51] #94 closed

[2020-03-31 13:47] clackwell opened #103 "Optionally leave away the "target" attribute from rewritten link to avoid new, empty browser tab"
This would be helpful to avoid that a new, empty browser tab gets opened when clicking on some links.

For example, this occurs with Zoom meeting links when using Firefox, after rewriting the link to zoommtg://hp.zoom.us/join?action=join&confno=xzy (which gets handled by the installed Zoom desktop client).

[2020-04-04 22:46] mo2menelzeiny commented on #96
Hey @hanzei
I've submitted a pull request for this if you care to check it out

[2020-04-04 22:59] mo2menelzeiny commented on #89
@jfrerich I would like to work on this, but I need more information on the store, what exactly are you referring to?

[2020-04-05 05:24] hanzei commented on #96
Awesome, thanks for the quick PR @mo2menelzeiny :+1:

[2020-04-05 05:26] #96 closed

[2020-04-06 13:23] levb commented on #89
@mo2menelzeiny I started answering your question, and realized that I don't have a very good answer it is a lot more complicated of an issue than we first though. I'm going to temporarily remove this ticket from the "Help Wanted" bucket for us to think through what we want to accomplish here.

[2020-04-06 13:56] mo2menelzeiny commented on #87
Hello @levb @hanzei
I would love to work on this

[2020-04-06 13:57] jfrerich commented on #89
Thanks for the inquiry, @mo2menelzeiny.  As Lev mentioned, we will have to define spec a little better before opening this ticket back `Up For Grabs`.  If you still interested in making a contribution, feel free to check out the `HW` and `Up For Grabs` issues in our plugin repos.  Here's the [link](https://github.com/issues?utf8=%E2%9C%93&q=repo%3Amattermost%2Fmattermost-plugin-antivirus+repo%3Ama

[2020-04-07 01:47] levb commented on #103
@clackwell can you please include the relevant section of your autolink config? You should be able to see it using `/autolink list` command

[2020-04-07 07:55] clackwell commented on #103
@levb sure:
[...]

[...]

[2020-04-08 20:55] raybellis opened #106 "Unsetting variables"
There's no way to unset a variable (e.g. `Scope`) other than to delete the entire link and recreate it without that variable.

[2020-04-14 13:11] aaronrothschild commented on #106
- Current workaround is to delete/add.

We could add a way to edit the autolink object's properties (configuration).

If no scope, then all channels are affected.
Should make it possible/easy that sending "no scope" = everything.

[2020-04-14 15:54] raybellis commented on #106
I was thinking that something like `/autolink unset <linkref> <field>` would do, syntax-wise.

[2020-04-21 18:49] levb commented on #89
There's no cache invalidation mechanism for KV records, so it'd be difficult to propagate config changes timely; the only mechanism that comes to mind as immediately available is `OnConfigurationChange` which of course defeats the purpose.

[2020-04-21 18:49] #89 closed

[2020-04-21 18:51] levb commented on #95
Looks good to me, too. Not repro?

[2020-04-21 18:51] #95 closed

[2020-04-21 18:52] levb commented on #106
I agree with @raybellis

[2020-04-21 18:56] levb opened #109 "`/autolink list` enable searching patterns and templates"
Currently, one can `/autolink list` search by link name, but not by the contents of `Pattern` and `Template`. Add the capability.

[2020-04-21 19:15] sadohert commented on #95
Sorry for the delay... just attempted to repro, and it worked fine on 5.20.x

[2020-04-23 09:17] hanzei commented on #89
@levb Could you elaborate what exactly `timely` mean? Is e.g. propagating changes every minute fine?

[2020-04-25 08:25] #87 closed

[2020-04-28 13:54] DHaussermann opened #110 "Link names should be unique when adding via the admin slash command"
When adding new links via the slash command it is possible to add multiple links with matching names.
This creates an issue as the links can no longer be updated or deleted once the name is no longer unique.
We should validate this so it is not possible to create multiple links with the same name.

[2020-05-04 09:30] maaaat opened #111 "Use a better regex engine"
The regex engine used by the plugin is a bit limited. It does support the `(?P<name>)` extension but that seems to be the only one. Switching to PCRE would bring support for all the popular `(?)` extensions that make regex creation go from tears of pain to tears of joy.

The example I am running into is this regex:
[code]

Which would match anything that look like a JIRA ID, with an exception for

[2020-05-04 10:06] raybellis commented on #110
I came here to report the same issue.   `<linkref>` matching needs to be based on an exact match of the string, not just leading prefixes:

    /autolink add test
    ...
    /autolink add test2
    ...
    /autolink set test Pattern (xxx)
    "test" matched more than one link: ["test" "test2"]

Once you're in this state you can't modify `test` until `test2` is deleted.

[2020-05-04 10:10] raybellis opened #112 "Pattern / Template library"
There are some good examples in the help, but people might find it useful to have a pre-canned selection of rules that they can use.

Here's my contribution, which converts `zoom#nnn-nnn-nnnn` (optionally without the hyphens) into a link to a Zoom conference room:

    Pattern (zoom#(?P<b1>\d{3})-?(?P<b2>\d{3})-?(?P<b3>\d{4}))
    Template [Zoom Room ${b1}-${b2}-${b3}](https://zoom.us/j/${b1}${b2}

[2020-05-05 13:15] levb commented on #111
We are using the go regexp package and are not planning to support PCRE yet

[2020-05-05 13:15] #111 closed

[2020-05-15 16:06] jfrerich commented on #110
Hi @raybellis.  Are you interested in working on this issue, or just confirming the issue exists? :)

[2020-05-15 20:27] raybellis commented on #110
Just confirming it exists, I'm afraid.   I don't have a development Mattermost server of my own that I could work on a fix with.

[2020-05-19 12:06] ThiefMaster opened #115 "Autolinking behavior changed between 1.1.1 and 1.2.0"
Also mentioned [here](https://community.mattermost.com/core/pl/iim934nbbtbt9g4izsnp8jpkmy).

With autolink 1.1.1 and this config:

[code]

a message containing this:

[code]

gets converted to this:

[code]

But after updating to 1.2.0, the exact same input results in this:

[code]

---

If I use `WordMatch` instead of the custom prefix regex, I get completely garbled results:

[code]

[2020-05-26 13:17] hanzei commented on #115
If this get's confrimed, it needs to be fixed in a patch release.

[2020-05-26 13:41] hanzei commented on #115
This was broken with https://github.com/mattermost/mattermost-plugin-autolink/commit/8c82b7dc7fa60641d4fcacdff9b38763fb648538.

[2020-05-27 13:29] GrigalashviliT commented on #109
I want to work on this

[2020-05-28 07:49] iomodo opened #118 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-05-28 08:52] pstray opened #119 "/autolink test seems to ignore disabled links"
From what I can see (using 1.2.0 and mattermost 5.23.0), using /autolink test Foo some text just replies "Foo: no change" even when the text should match... Enablink the link and running the command again then gives the expected output.  But that defeats the whole purpos of disabling a link for testing...

[2020-06-07 21:22] JohnBat26 opened #121 "Please tell me command for set custom group notifications.."
Hi.
I can't set custom group notification. I want when typing @customgroup Hello! users @e.batogov and @johnbat26 get Hello!

My attemtps:

[code]

But it doesn't work :(

[2020-06-08 10:11] hanzei commented on #121
@levb What is the configuration pattern that is used on Community?

[2020-06-08 11:01] levb commented on #121
We seem to have several in use :(

Yet again, highlighting the need for templatized, use-case specific configs available to admins. cc @jfrerich
![image](https://user-images.githubusercontent.com/1187448/84023300-b0f1f400-a93c-11ea-9ed5-71f43babda1e.png)

[2020-06-08 14:44] jfrerich commented on #121
@levb Do you want to swap me as the primary or secondary code owner for this repo?

[2020-06-11 18:00] hanzei opened #122 "Release v1.2.1"
Let's get a release for https://github.com/mattermost/mattermost-plugin-autolink/pull/120 out

[2020-06-12 12:39] #115 closed

[2020-06-22 16:23] #119 closed

[2020-06-22 16:56] hanzei commented on #122
@levb Do you want to take care of the release or should someone else?

[2020-07-24 13:25] LouisSung opened #124 "Error rendering when using @customgroup in mobile app"
Hello,
I'm not sure if this issue is related to the plugin itself or the mobile app _(:3

This is how a **`@customgroup*`** example renders in web interface, which works as expected
<img src="https://user-images.githubusercontent.com/37973545/88394757-8a0b5680-cdf2-11ea-9447-9ab7602432a9.png" width="600">

However, the same message renders wrong in **mobile apps** (both iOS and Android versions),

[2020-08-02 11:27] gohrner opened #126 "Problem With the WordMatch Matching Feature"
`WordMatch` is only very tersely documented in the `README.md` file and - from my point of view - its use or non-use leads to very surprising results which even hamper autolink's versatility.

`WordMatch` is explained as

There's no additional anchoring of the Pattern documented.

So first of all, I wonder why a special parameter is necessary here at all, as from the description it should be equiv

[2020-08-02 11:58] gohrner opened #127 "Feature Idea: Allow Replacements / Text Transformations"
I helpful feature would be to allow certain text transformations / formatting before adding the matched text to the template.

One example would be escaping for Markdown or URL encoding, such that the added text does not mess up generated links.

(With a Template like `[$1]($2)`, all sorts of characters in the matched text could mess up the result.)

Another example would be text transformation, e

[2020-08-06 12:37] gohrner opened #128 "Enhance Documentation: Wether (And If Yes, How) Multiple Pattern Are Applied to a Message"
The documentation / README.md does not specify, how multiple defined patterns are applied to a single message, if at all.

1. Does processing stop after the first pattern that matches?
2. If more than one pattern / template are possibly applied, is the order defined in which the patterns are applied, or is it random?
3. If the order is defined, can it be influenced/altered, also after Patterns hav

[2020-08-18 13:28] levb commented on #128
cc @justinegeffen

[2020-08-20 12:50] #122 closed

[2020-08-28 12:16] #109 closed

[2020-09-03 13:06] ChristophKaser commented on #82
I have the same issue. If I set a Pattern with
`/autolink set dummy Pattern (?P<path>(includes|web_cgi|library|branches))(?P<line>\d+))?`
the autolink plugin responds with
`Pattern: (?P[web_cgi|library|branches))(?P<line](path>(includes)\d+))?` (note the position of 'includes')

`/autolink list` will also print the wrong pattern.

Internally, however, the Pattern is correct and works, it is only t

[2020-09-09 08:26] ChristophKaser commented on #82
I guess this might be a duplicate of #97

[2020-09-13 08:03] LouisSung commented on #124
Is there any further update? 👀
Still wrong using `autolink:1.2.0`, `mattermost-enterprise:5.26.2`, and `ios-app:1.34.1`

[2020-09-16 23:49] hanzei commented on #97
@dschaper Can you confirm that this also happens with v1.2.1?

[2020-09-17 21:00] dschaper commented on #97
Yes, this still is occuring.

[2020-09-29 17:43] justinegeffen commented on #128
Thanks, @levb. This documentation will be reviewed shortly, and I'll add this request to the review process.

[2020-10-01 10:40] hanzei commented on #31
https://github.com/mattermost/mattermost-server/issues/9483 is done and this is now possible to implement. You can find the design at https://www.figma.com/proto/lcJR0AABXMMdZsu74Pt5Xx/MM-18086-Mattermost-Autolink-Plugin?node-id=1%3A101&viewport=347%2C509%2C0.34396985173225403&scaling=min-zoom

[2020-10-02 13:54] mmelcot opened #131 "Improvement: plugins should do a replacement in 'Direct messages' for people in scoped teams"
We use Mattermost in a big organisation.

We defined autolinks for some channels of a specific team.
However the token are not replaced in the Direct Messages.

That would be great to have autolink replacement also in Direct Messages for people part of the `scoped` teams.

Or as a workaround, to be able to put Member names in scope like:
[code]

[2020-10-02 17:18] aaronrothschild opened #132 "Make it Easy: Add and update patterns from Autolink config screen"
Currently, all autolink patterns and regexes must be set using a set of cumbersome slash commands. We want to make it easy for an admin to add a Regular Expression and template to the list of Auotlink rules.  Using Custom Settings components on the system console, Update the AutoLink admin UI to allow users to modify data for autolink from the system console rather than using the slash command.

T

[2020-10-02 17:19] aaronrothschild opened #133 "Autolink Admin UI can preview and test link"
Add a feature to the AutoLink UI where users can test Patterns and preview templates.

1. The user should be able to place sample text into a text box and see if the regex set as the pattern would match the sample text.
2. The user should be able to see an example output of what the sample text will render as once the Template regex has been applied.

[2020-10-02 17:20] aaronrothschild opened #134 "Move Autolink configuration storage out of json.config into the KV store"
Currently a Link Name, Pattern, Template and scope are saved in the config.json
This should be moved to the KV store to remove the dependency on reading from the config.json

[2020-10-03 10:15] hanzei commented on #133
This might be completely doable using interactive dialogs.

[2020-10-03 10:15] hanzei commented on #132
@aaronrothschild Is this a duplicate of https://github.com/mattermost/mattermost-plugin-autolink/issues/31? maybe you move your comment over into that issue?

[2020-10-05 09:13] nikolalukovic opened #135 "Can this be configured per channel?"
I couldn't find the info in the README so I'm just asking here. Is it possible to configure this plugin to work per channel? Different configurations for different channels?

[2020-10-05 19:12] hanzei commented on #135
That is in deed possible. You need to specify the `Scope` of your link. See https://github.com/mattermost/mattermost-plugin-autolink#examples

[2020-10-05 19:13] nikolalukovic commented on #135
Great! Thanks for the info!

[2020-10-05 19:13] #135 closed

[2020-10-05 23:25] aaronrothschild commented on #132
This is basically a duplicate of #31 - Closing.

[2020-10-05 23:25] #132 closed

[2020-10-05 23:26] aaronrothschild commented on #133
I like that idea!

[2020-10-12 01:33] levb opened #136 "Failing tests do not appear properly in GitHub/CI"
@levb @iomodo So it seems that I missed the fact that my change actually makes already existing tests fail. I ignored the failed part of CI on GitHub because of its name - "coverage". I assumed it's about percentage of coverage and not about tests. I've logged into Circle CI a couple of minutes ago to see the details.

I think that unit tests treating the `(` character as non-boundary need a discu

[2020-10-13 14:11] catalintomai commented on #136
Fix for autolink only (for now).

[2020-10-16 10:32] hanzei opened #137 "Enable slash commands by default"
_Issue created from a [Mattermost message](https://community-release.mattermost.com/_redirect/pl/o57x5rw977gp5rj7oq1n7mx7sh) *by @aaronrothschild*._

[2020-10-16 13:17] TheLure opened #138 "slash-commands not looking for exact match"
Verified in 1.2.1: The /autolink commands does not look fot the exact link name when you try to manipulate links. This makes it impossible to manipulate some links.

Example:

/autolink add testA
This is fine.
/autolink add testA2
Also fine.
/autolink set testA Pattern 123456789
returns:
"testA" matched more than one link: ["testA" "testA2"]

Correct behaviour would be to only look for a exact mat

[2020-10-20 14:56] ByeongsuPark commented on #118
Hi. Would I be able to take this issue?

[2020-10-22 19:34] jrepe commented on #138
hey, can I grab this one?

[2020-10-23 23:00] njnatale-lm opened #141 "Plugin should be allowed to work with bot accounts"
It looks like this plugin purposely blocks re-writes of posts by bots. This should be a configurable option, either globally or per each autolink item? I had a really great idea for using this plugin with my own bot, but now I cannot due to this limitation.

[2020-10-24 04:49] hanzei commented on #118
That would be great! Thanks @ByeongsuPark :tada:

[2020-10-27 14:30] #136 closed

[2020-10-29 23:18] njnatale-lm commented on #141
Further information: currently, I have a utility that posts messages as a bot. I would like it to tag users, but the user list fluctuates, and I don't want the list of users to be maintained in the the utility's code. So I'd like to use a codeword like `PEOPLE`  that will trigger the plugin to replace the word with direct `@person @person` mentions of all of the people. It seems right now that the

[2020-12-02 10:36] #137 closed

[2020-12-02 10:38] hanzei opened #144 "Release 1.3.0"
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/143
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/148
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/160
- [x] https://github.com/mattermost/mattermost-plugin-autolink/issues/181
- [x] https://github.com/mattermost/mattermost-plugin-autolink/issues/180
- [ ] https://github.com/mattermost/

[2021-01-20 07:42] moschlar commented on #106
Maybe just using the set command with a value of `null` or `false` could also suffice?

[2021-01-26 15:44] #118 closed

[2021-02-10 10:28] justinegeffen commented on #144
@hanzei, let me know if there are any doc updates for this. Thanks! :)

[2021-02-10 11:09] hanzei commented on #144
@justinegeffen There aren't any doc updates need that I'm aware of.

[2021-02-18 23:44] frakman1 commented on #21
The docker-compose also mentions a `/mattermost/client/plugins` folder. What is that and how is it different from `/mattermost/plugins` ?

[2021-03-16 10:50] DVTrast opened #151 "Autolink-Plugin will be removed if a Mattermost-Command is executed"
I use the mattermost in the version 5.32.1 with the Autolink-Plugin version 1.2.0
If I execute a mattermost command (e. g. bin/mattermost channel list team) the Autolink-Plugin will be deleted. The following line is outputed from the command bin/mattermost channel list team:
`{"level":"error","ts":1615886153.4893978,"caller":"app/plugin.go:252","msg":"Failed to remove local installation of managed

[2021-04-15 22:29] hanzei opened #156 "Release 1.2.2"
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/129
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/155

[2021-04-19 12:40] rorist commented on #141
+1

[2021-04-24 18:24] #156 closed

[2021-04-27 10:29] nothing-fr opened #161 "[QUESTION] Is possible to make calculation when the link is processed ?"
Hi,

Is possible to make calculation when the link is processed ?

I want to use autolink for our ticketing system, but my problem is :
- Ticket ID is 6352
- ID in URL does not match : it's 6452 (the difference is always +100 with the ticket ID)

Is it possible to make transformation (add 100 to the ticket ID) before creating the link ?

Thanks

[2021-04-28 07:35] ThiefMaster commented on #161
Rewriting those links to a small webapp that does the translation for you might be easier...

[2021-05-05 12:29] nothing-fr commented on #161
ok, thanks

[2021-05-05 12:29] #161 closed

[2021-05-06 07:56] DVTrast commented on #151
Problem still exists in Mattermost version 5.34.2

[2021-05-10 21:47] mickmister commented on #161
@nothing-fr You can write a small plugin that would do this translation. Check out the docs [here](https://developers.mattermost.com/extend/plugins), and join the [Toolkit](https://community-daily.mattermost.com/core/channels/developer-toolkit) channel on our community server to discuss some solutions to your requirements!

[2021-05-17 13:11] Thoro opened #163 "Patterns with < > in the pattern for naming of variables break"
I got a pattern with <> : `(?P<ticket>(CREAM|INFRA|CFIT|SET|PMO|PSM)\\-[0-9]+)`

And it's saved as `(?P\u003cticket\u003e(CREAM|INFRA|CFIT|SET|PMO|PSM)\\-[0-9]+)` in the config.json

\autolink list displays it completely mangled as:

`Pattern: (?P[INFRA|CFIT|SET|PMO|PSM)\-[0-9]+)`

Plugin Version: 1.2.2
Mattermost Version: 5.34.0

[2021-06-11 10:01] onno-ole commented on #126
Just stumbled upon the same error, did you find a workaround other than making unnecessary complicated patterns?

[2021-06-13 12:54] gohrner commented on #126
Unfortunately, no. :-(

[2021-06-19 15:05] CoreyAlexander commented on #31
I'm going to try to take on this one!

[2021-07-14 09:08] p3k commented on #138
any update on this?

[2021-08-07 19:10] justinegeffen commented on #128
@levb, I've taken a look at this request and the existing content. If you have content available that I can work with, that'd be great. Alternatively, let me know who'd be best situated to answer these questions and then we can add it to the docs. Thank you! :)

[2021-10-12 09:37] DVTrast commented on #151
This issue can be closed. With the Version 6 of mattermost the Legacy Command Line Tools will be fully replaced by mmctl.

[2021-10-12 09:37] #151 closed

[2021-11-10 04:42] jupriano opened #174 "Add Jira Autolink Issue With Comment Test Case"
Add unit test for jira autolink issue with focused comment

[2021-12-07 10:35] ChristophKaser opened #177 "Allow URL-encoding of variables in template"
My company uses the autolink-plugin to detect filenames in chat messages and convert them to a URL with a custom protocol that is used to open the file in the IDE. This works really well in most browsers, however the mattermost desktop client does not open these URLs. The reason is that the file paths contain backslashes (\), so the URL with the file name is technically invalid. The browsers seem

[2021-12-19 11:51] akhmerov opened #178 "support multiline templates"
Not sure whether it's within the scope of the plugin, but it would be helpful for some my use cases to have a `Template` contain multiple lines. I've tried using `\n` or `<br>`, but to no avail.

[2021-12-19 11:59] akhmerov commented on #178
Nevermind, I should have just inserted a multiline expression :sweat_smile:

[2021-12-19 11:59] #178 closed

[2022-01-12 02:06] bbodenmiller commented on #163
Duplicate of https://github.com/mattermost/mattermost-plugin-autolink/issues/97

[2022-01-13 16:33] bbodenmiller opened #179 "Add slash command to add autolink admins"

[2022-01-13 16:33] bbodenmiller opened #180 "Autolink plugin settings page does not show current autolink admins"

[2022-01-13 16:34] bbodenmiller opened #181 "Autolink admin user IDs requires spaces between commas"
![image](https://user-images.githubusercontent.com/1192780/149370550-ca286e57-cf79-4d91-aa9d-13051bc3ab32.png)

Appears to require spaces between commas are the admin features do not work.

[2022-01-25 20:04] aaronrothschild opened #182 "Autolink + Bots: Add Autocomplete capability"
Can the command be included in the autocomplete?
Can the /autolink list command show an output that includes the value?
The help text should show that you can pass in the configuration for bots.

[2022-01-27 15:01] hanzei commented on #181
@dipak-demansol Could you please try to reproduce this?

[2022-01-27 15:02] hanzei commented on #180
@dipak-demansol Same request here

[2022-01-27 15:03] #163 closed

[2022-01-31 15:21] DHaussermann commented on #180
@dipak-demansol  and I looked over this.
Adding values via the GUI admin UI always seems to save and show the data. However, when I add a list of users directly to the config file - The users are **not** shown in the UI. @bbodenmiller is this maybe how you reproduced this as well?

Steps:
- Emptied UI user list and saved
- Added 4 comma delimited users to the `"PluginAdmins":` config such as `"Plu

[2022-01-31 15:26] DHaussermann commented on #181
After further exploration - it seems that saving a 2nd user (or additional users) to the config only work intermittently.

Regardless of if there is a whitespace character - saving the string with multiple users only works some of the time. This happpens regadless of if there is whitespace or if the string is valid such as `xntwk983abgbdgixdfhha3xcsc,x8xo6zmhhfnc3p4w6eqofky9uw`

We have confirmed

[2022-01-31 18:16] hanzei commented on #180
@DHaussermann Are the users correctly added as admin i.e. can they use the slash command?

[2022-01-31 18:17] hanzei commented on #181
Might be related to https://github.com/mattermost/mattermost-plugin-autolink/issues/180

[2022-02-18 09:17] petersenna opened #183 "Can I have some random data when creating a link? (for Google meet)"
Hello, I am looking into a low maintenance way to integrate MM with Google meet, and I am considering if autolink is a good fit.

My use case would be something like the user typing the word 'meet' and having the plugin to link that to `https://accounts.google.com/AccountChooser/signinchooser?continue=https://g.co/meet/[random]`, and having [random] being replaced by something like:
 - when typed

[2022-03-11 15:53] hanzei opened #186 "Fix flaky test TestWildcard"
[code]

[2022-03-11 17:28] #186 closed

[2022-03-21 19:19] catalintomai opened #188 "Autolink logs "Markdown autolink did not match range text""
Hi team, not sure if this is the correct place to get some feedback on this:
Is there a reason why entering www.whatever.com in the chat box the error below appears on the log?

[code]
Is this expected?

Mattermost message: https://community.mattermost.com/core/pl/rpyzuujifif7tkna48b7jgcpor
Jira ticket: https://mattermost.atlassian.net/browse/MM-42669

[2022-03-29 13:39] #174 closed

[2022-03-31 12:05] #141 closed

[2022-04-09 08:43] dipak-demansol commented on #188
@catalintomai issue is regenerated, i will share a video on our developer Channel.

[2022-04-09 09:11] dipak-demansol commented on #188
i regenerated the issue, the log is similar but its not exactly same, i got this log
`"level":"error","msg":"Markdown autolink did not match range text, 'http://www.whatever.com' != 'www.whatever.com'","caller":"app/plugin_api.go:940","plugin_id":"mattermost-autolink"}
`

[2022-04-20 16:59] PospolitaNV opened #190 "ProcessBotPosts flag doesn't work"
Hey!
I've tried to use ProcessBotPosts with my command, but got this message:
<img width="913" alt="image" src="https://user-images.githubusercontent.com/9200956/164283484-0867662e-c0c3-475a-98a3-e757d72d2a86.png">

My MatterMost version (cloud):
<img width="555" alt="image" src="https://user-images.githubusercontent.com/9200956/164283785-602b9482-cdca-4f65-8366-36989f74e45a.png">

Autolink plugin

[2022-04-21 12:19] PospolitaNV commented on #190
Realized that this feature is available in 1.3.0

[2022-04-21 12:19] #190 closed

[2022-04-21 14:20] #181 closed

[2022-04-21 14:20] mickmister commented on #180
Fixed with https://github.com/mattermost/mattermost-plugin-autolink/pull/184

[2022-04-21 14:55] mickmister commented on #144
@DHaussermann @dipak-demansol @sibasankarnayak We are currently unsure if https://github.com/mattermost/mattermost-plugin-autolink/issues/188 should block this release. We would like to release this in a week if we are still unsure.

[2022-04-28 14:13] maisnamrajusingh commented on #188
@sibasankarnayak @dipak-demansol  lets look into this one and see how often this occurs and if there is a fix needed.

[2022-05-03 07:27] dipak-demansol opened #192 "auto-link all the True/false value should be the part of of auto-suggestion."
as per discussion  https://github.com/mattermost/mattermost-plugin-autolink/pull/160#pullrequestreview-927130035 with dylan i'm creating new ticket here,  will add the more info later.

[2022-05-18 08:04] hanzei commented on #188
@maisnamrajusingh Can you please provide a status update on this issue?

[2022-05-19 08:42] dipak-demansol opened #193 "If There is no Autolink Added in the list and user Use /autolink list Command Then User is Getting Nothing, But there should be a "only visible to me" validation message that says ex :- "List is Empty" or something else.""

[2022-05-20 07:14] dipak-demansol opened #194 "While Searching the Pattern, if its not Found then in the response it should show the exact data that i searched but its giving link in the response."
:- When i Search Pattern using `/autolink list Pattern [${level}/5](https://docs.mattermost.com/process/training.html#id8)` Then its Providing me result as :arrow_down:
![image](https://user-images.githubusercontent.com/89907719/169473363-4885084f-9864-4836-a714-6936a3bba58d.png)

**But Expected Result Should be This** `"[${level}/5](https://docs.mattermost.com/process/training.html#id8)" not Foun

[2022-05-20 08:38] dipak-demansol opened #195 "Not able to search a specific Pattern"
PreCondition :-   Pattern `((?P[1|2|3|4|5)/5)`
                           Template is 'Template: [${level}/5](https://docs.mattermost.com/process/training.html#id8)'
             Should be added before you execute the steps to regenerate the issue.

Steps 1) Use "/autolink list" Command.
          2) Copy The Pattern From The List.
          3) Type "/autolink list Pattern ((?P[1|2|3|4|5)/5)"  and

[2022-05-30 13:42] dipak-demansol opened #196 "Scope and processbot command converting the uppercase text to lower case"
https://user-images.githubusercontent.com/89907719/171004660-cf15836a-3aee-475f-b4e6-ee87c2a67f7e.mov

[2022-05-30 17:02] hanzei commented on #188
@maisnamrajusingh Gentle reminder

[2022-05-31 03:45] maisnamrajusingh commented on #188
@hanzei  this was already communicated earlier during one of the calls and siba was issuing a fix for it.

[2022-06-21 07:05] tmotyl commented on #183
you can try https://github.com/SrMouraSilva/mattermost-google-meet-plugin
Or just create a custom script (see below) and connect it to custom slash command ( e.g.  `/meet`) in mattermost UI

[code]

[2022-06-21 07:11] tmotyl opened #197 "Autolinking doesn't work when message is edited"
I have a working rule for jira tickets with ORSU prefix like `ORSU-123`
It works fine until I add the match when editing the message.

![image](https://user-images.githubusercontent.com/515397/174738052-4fe60976-5d6b-4fb0-844d-78c8453f337c.png)

The second message was typed as "abc" at first, and then edited to become "abc ORSU-123"

[2022-06-21 07:15] #183 closed

[2022-06-28 06:46] jprusch commented on #197
I can confirm this & was about to file a bug report

[2022-08-01 17:55] mickmister commented on #197
Hi @tmotyl, there is a plugin setting "Apply plugin to updated posts as well as new posts". Do you have this setting enabled?

[2022-08-26 15:29] mickmister commented on #144
We went ahead and released this without https://github.com/mattermost/mattermost-plugin-autolink/issues/188

[2022-08-26 15:29] #144 closed

[2022-11-22 13:00] hanzei opened #202 "Release v1.4.0"
- [x] https://github.com/mattermost/mattermost-plugin-autolink/pull/201

[2022-11-29 21:23] asatkinson commented on #197
closing as this seems invalid

[2022-11-29 21:23] #197 closed